<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apm.mapper.UserMapper">


    <select id="selectLogin" resultType="apm.domain.Auth">
        SELECT
        A.EMP_NO,
        A.KOR_N,
        C.ENG_N,
        ENC_PASSWD,
        FROM PASSWORD_T A,
        PASSWORD_AUTH_T B,
        OR_STAFF_T C
        WHERE A.EMP_NO = #{username}
        AND A.EMP_NO = B.EMP_NO
        AND A.EMP_NO = C.EMP_NO(+)
        AND B.PROJECT_C = 'MOR'
    </select>


    <update id="updateLoginCount">
        UPDATE PASSWORD_AUTH_T
        SET
            LOGIN_D = SYSDATE,
            LOGIN_Y = 'Y',
            USE_CNT = USE_CNT + 1
        WHERE EMP_NO = #{username}
        AND PROJECT_C = 'MOR'
    </update>

</mapper>


